<% var fundraiser = fundraiser[0]; %>
<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/manage_fundraiser/head', {fundraiser: fundraiser.doc }); %>
<body>
  <div class="wrapper">
    <!-- Side Navigation -->
    <%- include('../../partials/manage_fundraiser/nav', {fundraiser: fundraiser.doc, page: 'dashboard' }); %>

    <!-- Page Content Holder -->
    <div id="content">

      <!-- Top Navigation -->
      <% include ../../partials/manage_fundraiser/nav_top %>


      <!-- <h2>Welcome !!</h2>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

              <p>Submit your bank details for on time payout.</p>
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Add Bank Details</button>

          </div>
      </nav>

      <div class="line"></div> -->

      <!-- <div id="featured" class="container"> -->
          <div class="row mt-3">
              <div class="col-xl-3 col-md-6 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Visits</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <%if(totalVisits.length>0){%>
                              <%= totalVisits[0].totalVisits %>
                            <%} else {%>
                              <%= 0%>
                            <%}%>
                            </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Today's Donations</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$
                                <% var todays = 0; 
                                  if(todaysDonations.length>0){ 
                                    todays = todaysDonations[0].todaysDonations; 
                                  } %>
                                <%= todays %>                                
                            </div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-md-6 mb-4">
                      <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                          <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Target Reached</div>
                              <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <% var target1 = 0;
                                    if(totalDonations.length > 0){
                                      target1 = totalDonations[0].totalDoantions * 100 / target[0].totalAmount;                                       
                                    } %>                                  
                                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= (parseFloat(target1)).toFixed(0) %>%</div>
                                </div>
                                <div class="col">
                                  <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: <%= target %>%" aria-valuenow="<%= target %>" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-auto">
                              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                          <div class="card-body">
                            <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Donations Received</div>
                                <% var totalDonation = 0;
                                  if(totalDonations.length > 0){
                                    totalDonation = totalDonations[0].totalDoantions;
                                  } %>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$<%= totalDonation %> / $<%= target[0].totalAmount %></div>
                              </div>
                              <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
          </div>

          <div class="row mt-3">
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Monthly Donations</h6>                  
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <!-- <div id="barChart" style="width: 100%; height: 400px;"></div>   -->
                    <canvas id="myAreaChart" width="400" height="400"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Donation Sources</h6>                    
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <!-- <div id="pieChart" style="width: 100%; height: 400px;"></div> -->
                      <canvas id="myPieChart" width="400" height="350"></canvas>
                    </div>                  
                  </div>
                </div>
              </div>

          </div>
          
          
          <!-- <div class="row mt-3">

              

              <div class="col-lg-4">
                  <div class="card">
                      
                      <div class="card-body">
                          <h5 class="card-title text-center">Visits Today</h5>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="card">
                      
                      <div class="card-body">
                          <h5 class="card-title text-center">Donation Today</h5>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="card">
                      
                      <div class="card-body">
                          <h5 class="card-title text-center">Total Raised</h5>
                      </div>
                  </div>
              </div>

          </div>

          <div class="line"></div>

          <div id="featured" class="container">
              <div class="row mt-3">
                  <div class="col-lg-6">
                      <div class="card" style="height : 120px">
                          
                          <div class="card-body">
                              <h5 class="card-title text-center">You have 2 remaining to do tasks.</h5>
                              <a href="#" class="btn btn-primary float-right" data-toggle="tooltip"
                                  data-placement="bottom" title="View this category">Complete</a>
                          </div>

                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="card" style="height : 120px">
                          
                          <div class="card-body">
                              <h5 class="card-title text-center">Remind To Donate</h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="line"></div>

          <div id="featured" class="container">
              <div class="row mt-3">
                  <div class="col-lg-12">
                      <div class="card" style="height : 310px">
                          
                          <div class="card-body">
                              <h5 class="card-title text-center">Fundraiser Review</h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="line"></div>

          <div id="featured" class="container">
              <div class="row mt-3">
                  <div class="col-lg-12">
                      <div class="card" style="height : 310px">
                          
                          <div class="card-body">
                              <a href="#" class="btn btn-primary float-right" data-toggle="tooltip"
                                  data-placement="top" title="View this category">Get More Visits</a>
                              <h5 class="card-title text-center">Fund Visit Trend</h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="line"></div>

          <div id="featured" class="container">
              <div class="row mt-3">
                  <div class="col-lg-12">
                      <div class="card" style="height : 310px">
                          
                          <div class="card-body">
                              <a href="#" class="btn btn-primary float-right" data-toggle="tooltip"
                                  data-placement="top" title="View this category">Share</a>
                              <h5 class="card-title text-center">Social Media</h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div> -->

          <% include ../../partials/manage_fundraiser/footer %>
      <!-- </div> -->


            </div>

        </div>
    </div>

  <!-- Scripts -->
  <% include ../../partials/manage_fundraiser/scripts %>

  <script src="https://www.amcharts.com/lib/version/4.4.0/core.js"></script>
  <script src="https://www.amcharts.com/lib/version/4.4.0/charts.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  <script>
    

      
      $(function(){
        var ctx = document.getElementById('myAreaChart').getContext('2d');

        var labels = [];
        var data = [];
        <% monthlyAmount.forEach(element => {%>
          labels.push("<%= element._id.month %>/<%= element._id.year %>");
          data.push(<%= element.monthlyAmount %>);
        <% }); %>          

          var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: labels,
              datasets: [{
                  label: 'Donations ($)',
                  data: data,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });

      var labels = [];
      var data = [];
      <% donations.forEach(element => {%>
        labels.push("<%= element.doc.title %>");
        data.push(<%= element.totalDoantions*100/element.totalAmount %>);
          <% }); %> 

      var dataset = {
          datasets: [{
              data: data,
              backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
          }],

          // These labels appear in the legend and in the tooltips when hovering different arcs
          labels: labels
      };

      var ctx2 = document.getElementById('myPieChart');
        var myPieChart = new Chart(ctx2, {
          type: 'pie',
          data: dataset
      });
        
      });
  </script>
</body>

</html>