<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>

    <link href="../../view/css/style.css" rel="stylesheet">
    <style>
      .card-side {
          box-shadow : -1px 9px 40px -12px rgba(0,0,0,0.75) !important; 
          -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75) !important; 
          -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75) !important; 
      }
    </style>
<body>

  <!-- Navigation -->
  <% include ../partials/nav %>
  
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Sidebar Widgets Column -->
      <div class="col-md-3">

        <!-- Search Widget -->
        <div class="card card-side my-3">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="list-group">
              <% categories.forEach(function(cat){ %>
              <a href="/browseFundraiser/<%= cat.id%>" class="list-group-item list-group-item-action"><%= cat.categoryName%></a>
              <% }); %>
            </div>
          </div>
        </div>

      </div>

      <!-- Post Content Column -->
      <div class="col-md-9 pt-3">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
          <!-- Navbar content -->          
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link pr-3" href="/browseFundraiser">All</a>
              <% causes.forEach(function(cau){ %>
              <a class="nav-item nav-link pr-3" href="/browseFundraiser/<%= cau.id%>"><%= cau.name%></a>
              <% }); %>              
            </div>
          </div>
        </nav>
        <br>
        <div class="container">
          <div class="card-columns">
        <!-- <div class="row"> -->
        <% fundraisers.forEach(function(fr){ %>
          <!-- <%= fr._id.id %> -->
          <!-- <div class="col-md-4"> -->
            <div class="card card-custom bg-white border-white border-0">
              <div class="card-custom-img" style="background-image: url(/view/images/fundraisers/<%=fr.doc.image%>);"></div>
              <div class="card-custom-avatar">
                <% if(fr.doc.createdBy.image == null || fr.doc.createdBy.image == undefined) {%>
                  <img class="img-fluid" src="/view/images/user_placeholder.png" alt="Avatar" />
                <% } else { %>
                  <img class="img-fluid" src="/view/images/users/<%= fr.doc.createdBy.image%>" alt="Avatar" />
                <% } %>
              </div>
              <div class="card-body" style="overflow-y: auto">
                <a href="/browseFundraiser/<%= fr.doc.category._id%>"><span class="badge badge-<%= fr.doc.category.colorClass%>"><%=fr.doc.category.categoryName%></span></a>
                <a href="/fundraiser/view_fundraiser/<%=fr.doc._id%>" class="stretched-link"><h4 class="card-title"><%=fr.doc.title%></h4></a>
                <p class="card-text">By: <%=fr.doc.createdBy.fullName%></p>
                <p class="card-text"><%=fr.doc.description%></p>
                <%
                  var percentage = ((fr.totalDoantions) * 100 / fr.doc.amount).toFixed(0);
                  if(percentage > 100)
                    percentage = 100;
                %>
                <div class="d-flex justify-content-between">
                    <div><b>$<%=fr.totalDoantions%></b> raised</div>
                    <div><%=percentage%>%</div>
               </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%=percentage%>%" aria-valuenow="<%=percentage%>" aria-valuemin="0" aria-valuemax="100"></div>          
                </div> 
                <% if(Math.round((new Date(fr.doc.targetDate)-new Date())/(1000*60*60*24)) > 0) { %>
                  <%= Math.round((new Date(fr.doc.targetDate)-new Date())/(1000*60*60*24)) %> days left
                <% } else {%>
                  Fundraiser ended
                <% } %>
              </div>
              <!-- <div class="card-footer" style="background: inherit; border-color: inherit;">
                <a href="/fundraiser/view_fundraiser/<%=fr.doc._id%>" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-outline-primary">Other option</a>                
              </div> -->
            </div>
          <!-- </div> -->
        <% }); %>
      <!-- </div> -->
        </div>
        </div>
      </div>
      
      
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <% include ../partials/footer %>
  <% include ../partials/scripts %>

</body>

</html>