<!DOCTYPE html>
<html lang="en">
    <link href="../../view/css/style.css" rel="stylesheet">
<body>
        <div id="trending" class="container-fluid">
                <div class="row mt-5">
                    <h1 class="text-center w-100">Trending Fundraisers</h1>
                    <h6 class="text-center w-100">View the fundraisers that are most active right now!!!</h6>
                </div>

<div class="container">
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">0</li>
            <li class="glide__slide">1</li>
            <li class="glide__slide">2</li>
          </ul>
        </div>
      
      </div>
  <div class="row">
        <% if(typeof trendingFundRaisers != 'undefined') {  %>
        <% trendingFundRaisers.forEach(function(fr){ %>
          <div class="col-md-4 ">
            <div class="card card-custom bg-white border-white border-0 glide__slide  ">
              <div class="card-custom-img" style="background-image: url(/view/images/fundraisers/<%=fr.image%>);"></div>
              <div class="card-custom-avatar">
                 
                    <%   if( fr.user.image!= undefined && fr.user.image != null){ %>
                        <img class="img-fluid" src="../view/images/<%=fr.createdBy.image%>" alt="Avatar" />
                <%}else{%>
                  <img class="img-fluid" src="/view/images/user_placeholder.png" alt="Avatar" /> 
            <%}%>
              </div>
              <div class="card-body" style="overflow-y: auto">
                <a href="fr.category.categoryName>"><span class="badge badge-dark"><%= fr.category.categoryName %></span></a>
                <h4 class="card-title"><%=fr.title%></h4> 
                <p class="card-text">By: <%= fr.user.fullName %></p>
                <p class="card-text"><%=fr.description%></p>
                <% for(var i =0; i < donationArray.length; i++) { %>
                    <% if(fr._id.equals(donationArray[i].fid)) {  %>
                    <%   percentage = Math.round((donationArray[i].totalDonations/fr.amount) *100) %>
                <div class="d-flex justify-content-between">
                    <div><b>$<%= donationArray[i].totalDonations %></b> raised</div>
                    <div><%=percentage%>%</div>
               </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%=percentage%>%" aria-valuenow="<%=percentage%>" aria-valuemin="0" aria-valuemax="100"></div>          
                </div>
              <%  if(donationArray[i].daysLeft < 0) { %>
                    Days Left : <%= 0 %>
              <%  } else { %>
                Days Left : <%= donationArray[i].daysLeft %>
              <% }%>
              <br>  Supports : <%= donationArray[i].numberofDonations%><br>
                  <% break %>   
                  <%}%>
                <%}%>    
              </div>
              <div class="card-footer" style="background: inherit; border-color: inherit;">
                <a href="/fundraiser/view_fundraiser/<%=fr._id%>" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-outline-primary">Other option</a>                
              </div>
            </div>
          </div>
        <% }); %>
        <%}%>
      </div>
      </div>
    </div>
  </div>
  </div> 
  <div data-glide-el="controls">
      <button data-glide-dir="<<">Start</button>
      <button data-glide-dir=">>">End</button>
    </div>
</div>
      <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="node_modules/@glidejs/glide/dist/glide.min.js"></script>

  <script>
    new Glide('.glide').mount()
  </script>
  <% include ../partials/scripts %>
    <% include ../partials/carousal %>
</body>

</html>