<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>


<body>

  <!-- Navigation -->
  <% include ../partials/nav %>

  <!-- Page Content -->
  <div class ="container text-center">
      <h1 class="mt-4"><%= event.title %></h1>
      <p class="lead">
          by
          <a href="#"><%= event.createdBy.fullName %></a>
        </p>
  </div>
  <div class="container" style="padding:50px;">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">


        <!-- Title -->
        

        <!-- Author -->
        <!-- <p class="lead">
          by
          <a href="#"><%= event.createdBy.fullName %></a>
        </p> -->

        <hr>

        <!-- Date/Time -->
        <!-- <p><%= event.createdDate %></p> -->

        <!-- <hr> -->

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="../view/images/<%= event.image %>" alt="../view/images/<%= event.image %>">

        <hr>

        <!-- Post Content -->
        <p class="lead">
          <p>
            <%= event.description %>
          </p>
          <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>


          <hr>

          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <!-- edited by Vivek 15th april-->
              <form action="/fundraiser/fundraiser_comment/<%= event._id %>/comment " method="post">
                <div class="form-group">
                  <textarea class="form-control" name="comment" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>

          <!-- Single Comment -->
          <ul class="list-unstyled">
          <% for(var i =0 ; i<docs.length; i++) { %>

             
                  <li class="media mb-4">
                    <img src="http://placehold.it/50x50" class="mr-3" alt="...">
                    <div class="media-body">
                      <h5 class="mt-0 mb-1"><%= docs[i].createdBy.fullName %></h5>
                      <%= docs[i].comment%>
                    </div>
                  </li>
            





          <!-- <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0"><%= docs[i].createdBy.fullName %></h5>
              <%= docs[i].comment%>
            </div>
          </div> -->

          <% } %>
        </ul>
        <form action ="/fundraiser/fundraiser_page/<%= event._id %>" method="GET">
            <button type="submit" class="btn btn-primary">Show more comments</button>
        </form>
       


      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Fundraiser Progress</h5>
          <div class="card-body">
            <div class="col-lg-10" style="height:90px;">
                <button type="button" class="btn btn-lg btn-primary"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
                <br>
              <h2><i class="fas fa-dollar-sign"></i> <%= currentamount%> </h2>

              <p class="">raised of <b>&nbsp<i class="fas fa-dollar-sign"></i> <%= event.amount%></b> goal</p>

            </div>

             <br>
             <br>

            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= progress%>%"
                aria-valuenow="<%= currentamount%>" aria-valuemin="0" aria-valuemax="<%= event.amount%>"></div>
            </div>

          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Top Donors</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-10">
                <% for(var j=0; j<event.donations.length;j++) { %>


                <div class="float-left"><img class="d-flex mr-3 rounded-circle" src="http://placehold.it/30x30" alt="">
                </div>
                <div class="float-left">
                  <%=  event.donations[j].userId.fullName%>


                </div>

                <div class="float-right">
                  <%=  event.donations[j].amount %>
                </div>
                <br>
                <br>





                <% } %>


              </div>

            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new
            Bootstrap 4 card containers!
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <% include ../partials/footer %>
  <% include ../partials/scripts %>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>