<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<link rel="stylesheet" href="/view/css/comments.css">
<link rel="stylesheet" href="/view/css/view_fundraiser.css">

<body>

  <!-- Navigation -->
  <% include ../partials/nav %>

  <!-- Page Content -->

  <div class="container ">

    <div>
      <% include ../partials/messages %>

    </div>


    <div class="col-md-12 text-center">
      <h2 class="text-dark py-3 text-capitalize font-weight-bold"><%= event.title %></h2> <!-- Title -->
    </div>

    <div class="row">
      <!-- Fundraiser  Content Column -->
      <div class="col-md-8">

        <!-- Preview Image -->
        <div>
          <img class="img-fluid rounded" src="/view/images/fundraisers/<%= event.image %>" alt="<%= event.image %> "
            style="width:100%">
          <div class="text-center font-weight-light text-muted small">
            <%= event.description%>
          </div>

        </div>

        <hr>

        <!-- Post Content -->

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true"><i class="fas fa-info-circle"></i> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false"><i class="fas fa-comment-alt"></i> Comments</a>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
            </li> -->
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active mx-3" id="home" role="tabpanel" aria-labelledby="home-tab">


            <div class="text-center mt-3 font-weight-bold">About the Fundraiser</div>
            <p class="text-justify lead">

              <%- event.story %>

            </p>

          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <br>

            <% if(user == undefined) { %>
            <span>You are not logged in. Please <a href="/users/login">Login</a> in to make comment.</span>
            <br>
            <% } else {%>
              <ul class="comment-section">

                  <% for(var i =0 ; i<comments_list.length; i++) { %>
              <li class="comment user-comment">

                  <div class="info">
                      <a href="#"><%= comments_list[i].createdBy.fullName %></a>
                      <span><%= comments_list[i].time %></span>
                  </div>
  
                  <a class="avatar" href="#">
                      <img class="mx-auto rounded-circle" src="/view/images/users/<%= comments_list[i].createdBy.image%>" width="35" alt="<%= comments_list[i].createdBy.fullName%>" title="Bradley Jones" />
                  </a>
  
                  <p><%= comments_list[i].comment %></p>
  
        </li>
        <% } %>
            <li class="write-new">

              <form name="comment" action="/fundraiser/fundraiser_comment/<%= event._id %>/comment " method="post">

                <textarea placeholder="Write your comment here" name="comment"></textarea>

                <div>
                  <img class="mx-auto rounded-circle" src="/view/images/users/<%= user.image %>" width="50" alt="<%= user.fullName %>" title="Bradley Jones" />
                  <button type="submit">Submit</button>
                </div>

              </form>

            </li>
          </ul>
            <% } %>
      
          </div>
        </div>

        <hr>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4" id="sortable">

        <!-- progress widget-->
        <div class="card border-light mb-3 shadow-sm">
          <!-- <h5 class="card-header">Fundraiser Progress</h5> -->
          <div class="card-header text-center"><i class="fas fa-share-alt text-muted float-left"></i>Share on Social
            Media</div>
          <div class="card-body text-center">
            <!-- <div class="col-lg-10" style="height:90px;"> -->
            <!-- <button type="button" class="btn btn-lg btn-primary"><i class="fab fa-facebook-f pr-1"></i> Facebook</button> -->
 

            <div class="social d-inline-block text-center">
              <div class="text-center">
                  <a data-js="facebook-share" id="facebook" >
                    <div class="social-media facebook d-inline-block">
                        <span class="fab fa-facebook"></span>
                    </div>
                </a>
                <a data-js="twitter-share">
                    <div class="social-media twitter d-inline-block">
                        <span class="fab fa-twitter"></span>
                    </div>
                </a>
              </div>
                
            </div>
            <br>
            <div class="list-group-item border-0 text-center">



              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
                Contribute Now

              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content ">
                    <div class="modal-header ">

                      <h5 class="modal-title text-info font-weight-bold" id="exampleModalLabel">Enter the donation
                        amount</h5>

                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>

                    </div>
                    <div class="modal-body ">

                      <img src="/view/images/donate_modal_thank_you.jpg" class="card-img-top" alt="">
                      <br>
                      <% if(user == undefined) { %>
                      <span>You are not logged in. Please <a href="/users/login">Login</a> in to make a donation.</span>
                      <% } else {%>


                      <form action="/donate/donatePaypal/<%= event._id %>" method="POST">
                        <br>
                        <div class="form-group">
                          <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="addon-wrapping">Amount</span>
                            </div>
                            <input type="number" class="form-control " placeholder="donotion amount" name="amount"
                              aria-label="amount" aria-describedby="addon-wrapping" min="1" required>
                            <!-- <select class="custom-select" id="inputGroupSelect01">
                                                  <option selected>Choose...</option>
                                                  <option value="10">One</option>
                                                  <option value="30">Two</option>
                                                  <option value="80">Three</option>
                                                </select> -->

                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                            </div>
                          </div>



                        </div>
                        <div class="form-group">

                          <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="addon-wrapping">Name</span>
                            </div>
                            <input type="text" class="form-control" placeholder="donor's name" name="fullName"
                              aria-label="fullName" aria-describedby="addon-wrapping" value="<%= user.fullName%>"
                              required>

                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                          </div>

                        </div>
                        <div class="form-group">

                          <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="addon-wrapping">Phone</span>
                            </div>
                            <input type="text" class="form-control " placeholder="donor's phone number" name="phone"
                              aria-label="phone" aria-describedby="addon-wrapping" value="<%= user.phone%>" required>

                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                          </div>

                        </div>
                        <div class="form-group">

                          <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="addon-wrapping">City</span>
                            </div>
                            <input type="text" class="form-control " placeholder="city" name="city" aria-label="city"
                              aria-describedby="addon-wrapping" value="<%= user.city%>">

                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
                            </div>
                          </div>

                        </div>

                        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->








                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                      <button type="submit" class="btn btn-primary">Proceed to Pay</button>
                    </div>

                    <br>
                    </form>
                    <% } %>
                  </div>
                </div>
              </div>

            </div>
            <br>

            <h2 class="large"><i class="fas fa-dollar-sign small"></i> <%= currentamount%> </h2>

            <p class="text-muted small">raised of <b class="text-dark">&nbsp<i class="fas fa-dollar-sign "></i>
                <%= event.amount%></b> goal</p>

            <!-- </div> -->





            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= progress%>%"
                aria-valuenow="<%= currentamount%>" aria-valuemin="0" aria-valuemax="<%= event.amount%>">
              </div>
            </div>

          </div>
        </div>


        <!-- Campaigner Widget -->
        <div class="card border-light mb-3 shadow-sm">
          <!-- <h5 class="card-header">Fundraiser Progress</h5> -->
          <div class="card-header text-center"><i class="fas fa-address-card text-muted float-left"></i>Campaigner</div>
          <div class="card-body">

            <ul class="list-group pull-down " id="contact-list">
              <li class="list-group-item border-0">
                <div class="row w-100">

                  <div class="col-lg-3 px-0">

                    <% if(event.createdBy.image == null || event.createdBy.image == undefined) {%>
                    <img class="rounded-circle mx-auto d-block img-fluid" src="/view/images/user_placeholder.png"
                      alt="Avatar" />
                    <% } else { %>
                    <img class="rounded-circle mx-auto d-block img-fluid"
                      src="/view/images/users/<%= event.createdBy.image%>" alt=""
                      style="width:60px;height:60px;" />
                    <% } %>


                    <!-- <img src="/view/images/users/<%= event.createdBy.image %>" height="70" width= "50" alt="Avatar" class="rounded-circle mx-auto d-block img-fluid"> -->
                  </div>
                  <div class="col-lg-9 text-center text-sm-left ">

                    <!-- <span class="text-muted small">Campaigner</span> -->
                    <!-- <br> -->


                    <span class="text-info font-weight-bold text-capitalize"><%= event.createdBy.fullName%></span>
                    <br>

                    <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title=""
                      data-original-title="<%= event.createdBy.phone%>"></span>
                    <span class="text-muted"><%= event.createdBy.phone%></span>
                    <br>
                    <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title=""
                      title=""></span>
                    <span class="text-muted small text-truncate"><%= event.createdBy.email%></span>
                    <br>
                    <span class="fas fa-user-check fa-fw text-primary" data-toggle="tooltip" data-original-title=""
                      title=""></span>
                    <span class="text-muted text-truncate">Verified</span>

                  </div>

                </div>

              </li>


            </ul>

          </div>
        </div>

        <!-- Donations Widget -->

        <div class="card border-light shadow-sm">
          <div class="card-header text-center"><i class="fas fa-users float-left text-muted"></i>Donations</div>
          <div class="card-body">

            <ul class="list-group ">
              <!-- <li class="list-group-item disabled text-center border-0" aria-disabled="true">Donations</li> -->
              <li class="list-group-item border-0">



                <% for(var j=0; j<event.donations.length;j++) { %>
                <ul class="list-group list-group-horizontal ">
                  <li class="list-group-item border-0 px-0">

                    <% if(event.createdBy.image == null || event.createdBy.image == undefined) {%>
                    <img class="rounded-circle mx-auto d-block img-fluid" src="/view/images/user_placeholder.png"
                      alt="Avatar" />
                    <% } else { %>
                    <img class="rounded-circle mx-auto d-block img-fluid"
                      src="/view/images/users/<%= event.donations[j].userId.image%>" alt="Avatar"
                      style="width:30px;height:30px;" />
                    <% } %>


                  </li>


                  <li class="list-group-item border-0 text-capitalize small"><%= event.donations[j].userId.fullName%>
                  </li>

                  <li class="list-group-item border-0 text-info small ">$<%= event.donations[j].amount%></li>
                </ul>
                <% } %>


              </li>

              <!-- <li class="list-group-item border-0 text-center">
                      
                      <button type="button" class = "btn btn-info">
                        Contribute Now

                      </button>
                    
                    </li> -->
            </ul>





          </div>
        </div>


      </div>



    </div>

  </div>
  <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <% include ../partials/footer %>
  <% include ../partials/scripts %>
  <% include ../partials/share_scripts %>

  <script src="../../node_modules/jquery-validation/dist/jquery.validate.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>

    $("#fundraiser").validate({
      rules: {
        comment: "required"
      }
    });
  </script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>

</html>