<div class="container p-1">
    <div class="row mt-5">
        <h1 class="text-center w-100">Browse Categories</h1>
        <h6 class="text-center w-100">Be it for a personal need, social cause or a creative idea - you can count
            on us for
            the project that you want to raise funds for.</h6>
    </div>
    <% if(typeof categories != 'undefined') { %>
    <div class="row ml-5 mr-5">
        <% categories.forEach(function(category) { %>
        <div class="col-lg-3 mt-2  d-flex align-items-stretch">
            <div class="card">
                <img height=180px class="card-img-top" src="../view/images/<%= category.categoryImage %>" alt="Card image">
                <div class="card-body">
                        <a href="/browseFundraiser/<%=category._id%>" class="card-title stretched-link" 
                            title="View this category"><h4 class="text-center"><%= category.categoryName %></h4></a>
                    <p class="card-text text-center"><%= category.categoryDescription%></p>
                    <!-- <p class="card-text"><%= category.createdDate %></p> -->
                    <!-- <p class="card-text"><%= category.createdBy %></p> -->

                </div>
            </div>
        </div>
        <% }); %>
    </div>
    <% } %>
</div>